<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="lib/jquery/jquery-3.3.1.js"></script>
    <title>Title</title>

</head>
<body>

<section id="nav"></section>

<script>
    $("#nav").load("nav.html");
</script>


<section class="container-fluid">
    <section class="row">
        <nav class="col-sm-2">
            <h7>Tipo de rotas</h7>
            <br>
            <br>
            <table>
                <tr>
                    <td>Todas</td>
                    <td><input type="checkbox" name="tipo" value="all"></td>
                </tr>
                <tr>
                    <td>Historicas</td>
                    <td><input type="checkbox" name="tipo" value="historica"></td>
                </tr>
                <tr>
                    <td>Culturais</td>
                    <td><input type="checkbox" name="tipo" value="cultural"></td>
                </tr>
                <tr>
                    <td>Desportivas</td>
                    <td><input type="checkbox" name="tipo" value="desportiva"></td>
                </tr>
                <tr>
                    <td>Gastronomicas</td>
                    <td><input type="checkbox" name="tipo" value="gastronomica"></td>
                </tr>
                <tr>
                    <td>Noite</td>
                    <td><input type="checkbox" name="tipo" value="noite"></td>
                </tr>
            </table>
            <br>
            <h7>Classificação</h7>
            <br>
            <br>
            <table>
                <tr>
                    <td>★★★★★</td>
                    <td><input type="radio" name="tipo" value="5"></td>
                </tr>
                <tr>
                    <td>★★★★</td>
                    <td><input type="radio" name="tipo" value="4"></td>
                </tr>
                <tr>
                    <td>★★★</td>
                    <td><input type="radio" name="tipo" value="3"></td>
                </tr>
                <tr>
                    <td>★★</td>
                    <td><input type="radio" name="tipo" value="2"></td>
                </tr>
                <tr>
                    <td>★</td>
                    <td><input type="radio" name="tipo" value="1"></td>
                </tr>
            </table>

        </nav>
        <div class="col-sm-10">
            <br>
            <div class="row"> <!-- Inicio item lista -->
                <div class="col-sm-3">
                    <a href="mapPage.html"><img class="img-fluid" src="https://bit.ly/2Jg1SRG"></a>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <h4 style="text-align: center">Assalto ao Castelo!</h4>
                    </div>
                    <div class="row">
                        <p>O Castelo de São Jorge ou Paço da Alcáçova ou Paço de São Jorge localiza-se na freguesia de
                            Santa Maria Maior, na cidade e concelho de Lisboa, em Portugal. O nome actual deriva da
                            devoção do castelo a São Jorge, santo padroeiro dos cavaleiros e das cruzadas, feita por
                            ordem de D. João I no século XIV.</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    4,7 ★★★★★<br>
                    432 avaliações
                </div>
                <div class="col-sm-3">
                    Tipo : Histórica, Cultural <br>
                    Dificuldade : Baixa
                </div>
            </div><!-- Fim item lista -->
            <hr>
            <div class="row"> <!-- Inicio item lista -->
                <div class="col-sm-3">
                    <img class="img-fluid" src="https://bit.ly/2O022gG">
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <h4 style="text-align: center">Praça do comércio</h4>
                    </div>
                    <div class="row">
                        <p>A Praça do Comércio, antigamente Terreiro do Paço, é uma praça da Baixa de Lisboa situada
                            junto ao rio Tejo, na zona que foi o local do palácio dos reis de Portugal durante cerca de
                            dois séculos e que hoje está parcialmente ocupada por alguns departamentos
                            governamentais.</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    4 ★★★★<br>
                    564 avaliações
                </div>
                <div class="col-sm-3">
                    Tipo : Histórica, Cultural <br>
                    Dificuldade : Baixa
                </div>
            </div>
            <hr>
            <div class="row"> <!-- Inicio item lista -->
                <div class="col-sm-3">
                    <img class="img-fluid" src="https://bit.ly/2OPAShy">
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <h4 style="text-align: center">Bairro Alto</h4>
                    </div>
                    <div class="row">
                        <p>O Bairro Alto é um bairro antigo e pitoresco no centro de Lisboa, com ruas estreitas e
                            empedradas, casas seculares, pequeno comércio tradicional, restaurantes e locais de vida
                            nocturna. Construído em plano ortogonal a partir do início do século XVI, foi conhecido como
                            Vila Nova de Andrade.</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    3.9 ★★★ <br>
                    1058 avaliações
                </div>
                <div class="col-sm-3">
                    Tipo : Gastronomia, Noite <br>
                    Dificuldade : Média
                </div>
            </div>
        </div>
    </section>

</section>

<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/filterPage.css">


</body>
</html>