<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="lib/jquery/jquery-3.3.1.js"></script>
    <title>Escolha de Rota</title>


</head>
<body>

<header>
    <div id="nav"></div>
</header>
<script>
    $("#nav").load("./partials/nav.html");
</script>
<section class="container-fluid">
    <section class="row">
        <div class="col-sm-2" id="filter">
            <hr>
            <table id="tipos">
                <h6>Tipo de rotas</h6>
            </table>
            <hr>
            <h6>Classificação</h6>
            <table id="classificacao">

            </table>
            <hr>
            <h6>Dificuldade</h6>
            <table id="dific">
            </table>
            <button class="btn btn-dark" onclick="send(nome)" id="filterButton">Filtrar</button>
        </div>
        <div class="col-sm-10" id="imagens"></div>
    </section>
</section>

<script>
    let nome = `{{nome}}`;
</script>
<script src="js/filterRouteRender.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/filterPage.css">


</body>
</html>