<!-- Inicio item lista -->
<div class="col-sm-3">
    <img class="img-fluid" src="https://bit.ly/2Jg1SRG">
</div>
<div class="col-sm-4">
    <div class="row">
        <h4 style="text-align: center">Assalto ao Castelo!</h4>
    </div>
    <div class="row">
        <p>O Castelo de São Jorge ou Paço da Alcáçova ou Paço de São Jorge localiza-se na freguesia de
            Santa Maria Maior, na cidade e concelho de Lisboa, em Portugal. O nome actual deriva da
            devoção do castelo a São Jorge, santo padroeiro dos cavaleiros e das cruzadas, feita por
            ordem de D. João I no século XIV.</p>
    </div>
</div>
<div class="col-sm-2">
    <p>4,7 ★★★★★</p>
    <p>432 avaliações</p>
</div>
<div class="col-sm-3">
    <p>Tipo : Histórica, Cultural </p>
    <p> Dificuldade : Baixa</p>
</div>
<hr>


