<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <script src="lib/jquery/jquery-3.3.1.js"></script>
    <script rel="script" src="./js/locationInfo.js"></script>
    <title>INTERACTIVE HISTORICAL ROUTES</title>
</head>
<body>
<header>
    <section id="head">
        <div id="nav"></div>
        <p id="location"></p>
        <h1>INTERACTIVE HISTORICAL ROUTES</h1>
        <hr>


    </section>
</header>
<h2>ROTAS PERTO DE SI</h2>
<hr>
<section class="row" id="routes">
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
</section>
<hr>
<h2>CIDADES MAIS VISITADAS</h2>
<hr>
<section class="row" id="cidades">
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
</section>
<hr>
<h2>PONTOS DE INTERESSE</h2>
<hr>
<section class="row" id="PoI">
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
    <div class="container col-sm-3"></div>
</section>
<hr>
<script>
    $("#search").load("./partials/searchBar.html");
    $("#nav").load("./partials/nav.html");
    $("#routes > div").each(function () {
        $(this).load("./partials/indexImage.html");
    });
    $("#cidades > div").each(function () {
        $(this).load("./partials/indexImage.html");
    });
    $("#PoI > div").each(function () {
        $(this).load("./partials/indexImage.html");
    });
    getLocation();

</script>

<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">

</body>
</html>