<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <script src="lib/jquery/jquery-3.3.1.js"></script>
    <title>INTERACTIVE HISTORICAL ROUTES</title>
</head>
<body onload="getLocation()">

<section id="head">
    <div class="sticky" id="nav"></div>
    <div id="entrance">
        <div id="logoEntrance">

        </div>
        <h5 id="scrol">V</h5>
    </div>
</section>


<section class="container-fluid">
    <div class="row">
        <div class="row" id="routes">
            <h1>ROTAS PERTO DE SI</h1>
        </div>

        <div class="row" id="PoI">
            <h1>PONTOS DE INTERESSE PERTO DE SI</h1>
        </div>

        <div class="row" id="cidades">
            <h1>CIDADES MAIS VISITADAS</h1>
        </div>


    </div>
</section>

<footer class="row">
    <div class="col-sm-3" style="background-color: yellow"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3" style="background-color: yellow"></div>
    <div class="col-sm-3"></div>
</footer>
<script>
    $("#nav").load("./partials/nav.html");
</script>

<script rel="script" src="js/indexRender.js"></script>


<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">

</body>
</html>