<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <script src="./js/locationInfo.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/jquery/jquery-3.3.1.js"></script>
    <meta charset="UTF-8">
    <script type="text/javascript">
        function initmap() {
            $.get('/information/getJSONFile/locationInfo.json',
                (coords) => {
                    console.log((coords));
                    let map1 = L.map('map');
                    //map1.setView([38.642433, -90.255372]),9); //Thanks!
                    map1.setView([coords.Latitude, coords.Longitude], 15);
                    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map1);
                    // add an OpenStreetMap tile layer
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&amp;copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map1);
                }
            );

            // let coords = ($.get('/information/getJSONFile/locationInfo.json'));
            // console.log((coords));
            // let map1 = L.map('map');
            // //map1.setView([38.642433, -90.255372]),9); //Thanks!
            // map1.setView([coords.Latitude, coords.Longitude], 15);
            // L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map1);
            // // add an OpenStreetMap tile layer
            // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            //     attribution: '&amp;copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            // }).addTo(map1);
        }
    </script>

    <title>Title</title>
</head>
<body onload="initmap()">

<section id="nav"></section>

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <h4>Assalto ao Castelo!</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <img src="https://bit.ly/2OOX3ot">
                        <span style="font-weight: bold">  Rossio</span>
                    </div>
                    <hr>
                    <div class="box">
                        <img src="https://bit.ly/2SivHoP">
                        <span style="font-weight: bold">  Martim-Moniz</span>
                    </div>
                    <hr>
                    <div class="box">
                        <img src="https://bit.ly/2Jg1SRG">
                        <span style="font-weight: bold">  Castelo de São Jorge</span>
                    </div>
                </div>

            </div>
        </div>
        <div id="map" class="col-sm-9">

        </div>
    </div>

</section>


<script>
    $("#nav").load("nav.html");
</script>


<link rel="stylesheet" type="text/css" href="./stylesheets/mapPage.css">
<script src="lib/leaflet/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css"/>
</body>
</html>