<script src="lib/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" href="lib/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="./stylesheets/nav.css">
<script rel="script" src="./js/locationInfo.js"></script>
<script rel="script" src="lib/jquery/jquery-3.3.1.js"></script>

<div class="btn-group nav" role="group" aria-label="Button group with nested dropdown">

    <a href="index.html">
        <button type="button" id="home" href="index.html" class="btn btn-dark">Home</button>
    </a>
    <button type="button" class="btn btn-dark">Login</button>
    <button type="button" class="btn btn-dark">Estatisticas</button>
    <button type="button" class="btn btn-dark">Algo Novo</button>
    <button type="button" id="location" class="btn btn-dark" onclick="getLocation()">
        Localização Atual
    </button>

    <div id="search" style="width: 40%"></div>


</div>

<script>
    $("#search").load("searchBar.html");
</script>