ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;
    font-family: "Helvetica", Helvetica, sans-serif;}
li {float: left;}
li a, .dropbtn {display: inline-block;color: white;text-align: center;padding: 4vh 8vh;text-decoration: none;}
li a:hover, .dropdown:hover .dropbtn { /*cor que aparece quando o rato passa por cima*/background-color: cadetblue;}
li.dropdown {display: inline-block;}
.dropdown-content {display: none;position: absolute;background-color: #333;min-width: 40vh;height: 20%;z-index: 1;}
.dropdown-content a {color: white;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}




