
h1 {
    color: white;
    text-align: center;
    vertical-align: center;
    background-color: black;
    height: 20vh;
}

.row {
    height: 50vh;
    width: 100%
}

.figure img {
    height: 40vh;
    width: 50vh;

}

.smallblankContainer {
    height: 15vh;

}

h1 {
    height: 50vh;
    text-align: center;
    display: table;
    width: 100%;
    vertical-align: middle;
    
}

p {
    display:table-cell; vertical-align:middle
}