.col-sm-3 {
    background-color: lightsteelblue;
    width: 15vh;
    height: 100vh;
}

img {
    width: 67%;
    height: 67%;
    margin-right: 2vh;
}
.col-sm-8{
    margin-top: 2vh;
    text-align: center;
}
.box {
    margin-top: 2vh;
    display: flex;
    align-items:center;

}
#mapa{

}
h4{

}