button {
    width: 10%;
    height: 10vh;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.nav {
    background-color: black;
}

.btn-dark {
    font-size: large;
}

