<script src="../lib/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" href="../lib/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="./stylesheets/nav.css">
<script rel="script" src="../lib/jquery/jquery-3.3.1.js"></script>
<script rel="script" src="js/global.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" data-auto-replace-svg="nest"></script>


<nav class="row" onload="getLocation()">
    <a id="home" class="col-sm-1" href="/home" ><button class="btn-dark" id="logo"></button></a>
    <div class="col-sm-9">
        <div class="container">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Pesquise por uma cidade !" id="search">
                <span class="input-group-addon">
                    <a id = 'button'><button class="submit btn-dark" type="submit" onclick="search()">
                        <i class="fas fa-search"></i>
                    </button></a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-2" id="dropdown">
        <ul id="drop-nav">
            <li>
                <button class="btn-dark" href="#"><i class="fas fa-bars"></i></button>
                <ul>
                    <li>
                        <button class="btn-dark" href="#">Login</button>
                    </li>
                    <li>
                        <button class="btn-dark" href="#">Estatisticas</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



</nav>



