<script src="../lib/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" href="../lib/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="./stylesheets/nav.css">
<script rel="script" src="./js/locationInfo.js"></script>
<script rel="script" src="../lib/jquery/jquery-3.3.1.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" data-auto-replace-svg="nest"></script>


<nav class="row" onload="getLocation()">
    <button class="col-sm-1 btn-dark" id="logo"></button>
    <div class="col-sm-9">
        <div class="container">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                    <button class="submit btn-dark" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-2" id="dropdown">
        <ul id="drop-nav">
            <li><button class="btn-dark" href="#">≡</button>
                <ul>
                    <li><button class="btn-dark" href="#">Joomla</button></li>
                    <li><button class="btn-dark"href="#">Drupal</button></li>
                    <li><button class="btn-dark"href="#">WordPress</button></li>
                    <li><button class="btn-dark" href="#">Concrete 5</button></li>
                </ul>
            </li>
        </ul>
    </div>


</nav>

