#filter{
    background-color: #343a40;
    width: 15vh;
    height: 100%;
}


p{
    text-align: justify;
}

.col-sm-2{
    text-align: center;
}

nav.col-sm-2 {
    text-align: left;
    color: white;
}

table, th, td {
    padding: 5px;
}
table {
    border-spacing: 15px;
}
section.container-fluid > section.row > div.col-sm-10 > div.row{
    margin-top: 2vh;
}
section.container-fluid > section.row > div.col-sm-10 > div.row > div.col-sm-2 >p{
    text-align: justify;
    margin-bottom: 0px;
}
section.container-fluid > section.row > div.col-sm-10 > div.row > div.col-sm-3 > p{
    text-align: justify;
    margin-bottom: 0px;
}
section.container-fluid > section.row > div.col-sm-10 > div.row > div.col-sm-3 > img{
    margin-top: 2vh;
    width: 97%;
    height:80%;

}
section.container-fluid > section.row > div.col-sm-10 > div.row > div.col-sm-2{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
section.container-fluid > section.row > div.col-sm-10 > div.row > div.col-sm-3{
    margin-top: 4vh;
    margin-bottom: 4vh;
}