body, input {
    background-color: #e7e5b8
}

h1, h2, p {
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: black;
    font-family: "Bookman Old Style";
}

.row {
    child-align: middle;
    margin-right: 0;
    margin-left: 0;
}

.figure img {
    margin-top: 8%;
    vertical-align: middle;
    height: 40vh;
}


#routes , #cidades,#PoI {
    height: 45vh;
}
