h2 {
    margin: auto;
}
h1 {
    color: white;
    text-align: center;
    vertical-align: center;
    background-color: #343a40;
    height: 20vh;
}

.row {
    height: 50vh;
    child-align: middle;
}

.figure img {
    height: 40vh;
    width: 100%;
}

.smallblankContainer {
    height: 15vh;

}

h1 {
    height: 50vh;
    text-align: center;
    display: table;
    width: 100%;
    vertical-align: middle;
}

p {
    display:table-cell;
    vertical-align:middle;
}

h1 .row {
    height: 25%;

}

#search {
    margin: auto;
}

.col-sm-3 {
    margin: auto;
}

.figure {
    display: block;
}