.col-sm-2 {
    background-color: #343a40;
}

h4 {
    text-align: center;
    color: white;
}

#content{
    min-height: 90vh;
}

#content > div.row , #content > .row > map {
    min-height: 90vh;
}

section.container.col-sm-12 > div , section.container.col-sm-12 > div > figure {
    height: 20%;
}