.col-sm-3 {
    background-color: lightsteelblue;
    width: 15vh;
    height: 100%;
}

.col-sm-9 {
    height: 100%;
}

img {
    width: 32vh;
    height: 22vh;
    margin-right: 2vh;
}
.col-sm-8{
    margin-top: 2vh;
    text-align: center;
}
.box {
    margin-top: 2vh;
    display: flex;
    align-items:center;

}

#map {
    height: 85vh;
    width: 50vh;

}


h4{

}