a , .nav > button, .nav > a > button {
    width: 15%;
    height: 10vh;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.nav {
    background-color: #343a40;
}

.btn-dark {
    font-size: large;
    border-style: none;
}

#home {
    width: 100%;
}

#search {
    width: 25%;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    font-size: 2vh;
    background-color: white;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-UZISHRt8aFLN21vtfZ_ugUQo3QMtT2b9FcuxvbF6saxjmFwO');
    background-size: 5%;
}

input:focus {
    background-image: none;
}



