.topnav .search-container button {
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.topnav .search-container {
    float: none;
}


.topnav {
    width: 100%;
}

form {
    margin: auto;
    child-align: middle;
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;

}

input {
    border:none;
    flex-grow:2;
}

form button {
    height: 100%;
    width: 5%;
 }



